* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Georgia, serif;
    line-height: 1.5;
    color: #f2f2f2;
    background: linear-gradient(to right, #4b0000, #000) no-repeat; /* Fundo preto com gradiente vermelho suave à esquerda */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

header {
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

header p {
    font-size: 1.1rem;
    font-weight: 300;
}

section {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1.5rem 0;
    border-bottom: 1px solid #fff;
}

section:last-of-type {
    border: none;
}

h2 {
    color: #ff6666; /* Um vermelho claro para destacar os títulos */
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

p, ul, li {
    list-style-type: none;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #e0e0e0;
}

ul {
    list-style-type: square;
    padding-left: 1.2rem;
}

.project {
   
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
}

a {
    color: #ff9999; 
    text-decoration: none;
}

a:hover {
    color: #ffcccc;
}
.hidden {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.visible {
    opacity: 1;
    transform: translateY(0);
}
